<div class="page">
    <div class="header">
        <%= link_to(github_repositories_path) do %>
            Adjust Challenge: GitHub Repository Search
        <% end %>
    </div>

    <div class="content">
        <div class="form">
            <%= form_tag github_repositories_path, :method => "get" do %>
                <%= text_field_tag :query, params[:query], placeholder:'Enter repository name' %>
            <% end %>
        </div>

        <%= render 'repositories'%>
    </div>
</div>